<footer class="footer">
  <div class="container">
    <p class="text-muted">
      Powered by <%= link_to 'herbalife/acracadabra', 'http://github.com/herbalife/acracadabra' %>
    </p>
  </div>
</footer>
