<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Android Crash Report', 'javascript:void(0);', {class: 'navbar-brand'} %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li> <%= link_to 'Charts', reports_charts_path, {class: 'active'} %> </li>
        <li> <%= link_to 'Crash Data', crash_data_path, {class: 'active'} %> </li>
      </ul>
    </div>
  </div>
</nav>
