<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Android Crash Report', 'javascript:void(0);', {class: 'navbar-brand'} %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <%= navbar_header_link('Charts', reports_charts_path, 'reports') %>
        <%= navbar_header_link('Crash Data', crash_data_path, 'crash_data') %>
      </ul>
    </div>
  </div>
</nav>
