<header class="navbar navbar-fixed-top">
<div class="navbar-inner">
  <div class="container">
    <%= link_to 'Charts', reports_charts_path %>
    |
    <%= link_to 'Crash Data', crash_data_path %>
  </div>
</div>
</header>
